.btn_ {
  text-transform: uppercase;
  border-radius: 0;
  border: 0;
  padding: 1rem;
  transition: 0.3s;
  @include tablet {
    padding: 1.5rem;
  }
}

.btn__order {
  background-color: $primary;
  color: #fff;
  &:hover {
    background-color: $primary-hover;
  }
}

.btn__second {
  transition: 0.3s;
  background-color: #fff;
  &:hover {
    font-weight: 600;
  }
}

.full {
  position: absolute;
  top: 0;
  right: 0;
  color: #fff;
  background-color: $dark-gray;
  padding: 1rem 3rem;
  @include tablet {
    padding: 1.2rem 4rem;
  }
  &:hover {
    border: 1px solid $dark-gray;
    color: $dark-gray;
    background-color: #fff;
    font-weight: 400;
  }
}

.selectionOptions {
  &__navButton {
    display: none;
    @include tablet {
      display: flex;
      justify-content: center;
      padding: 0 1rem;
      border: 0;
      // background-color: #fff;
    }
  }
}
.btn__icon {
  color: $primary;
  width: 25px;
  height: 25px;
  &:hover {
    color: $primary-hover;
  }
}

select {
  padding: .3rem;
  // max-width: 600px;
  width: 40vw;
  // text-align: center;
}

input {
  width: 60vw;
  padding: .3rem;
  margin-bottom: 1rem;
}
