//Colors
$black: #000;
$red: #db3737;
$white: #ebebeb;
$navy: #2c2c87;
$green: #29803c;
$gray: #a6a6a6;
$dark-gray: #434343;

$primary: #1D7BE0;
$primary-hover: #519ced;

$black-light: rgb(158, 158, 158);