.nav {
  display: flex;
  justify-content: space-between;
  padding: 0 1rem;
  @include laptop {
    padding: 0 4rem;
  }
  &__box {
    padding: 1rem;
    background-color: red;
  }
  &__item {
    display: none;
    @include tablet {
      display: inline;
    }
  }
  // Size of circle
  &__circle {
    width: 12px;
    height: 12px;
    @include tablet {
      display: none;
    }
  }
}

//active link Router NavLink
.active {
  color: black;
}
