.overviewPanel {
  position: fixed;
  bottom: 0;
  background-color: #fff;
  @include tablet {
    position: unset;
  }
  &__title {
  }
}

.productInfo {
  &__title {
    padding: 1rem;
    font-weight: 600;
    font-size: 1rem;
    border-bottom: 1px solid $gray;
    border-top: 1px solid $gray;
    text-transform: uppercase;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    @include tablet {
      border-top: 0;
    }
  }
}
