.selection__title {
  font-size: 2rem;
  font-weight: bold;
  text-align: center;
}

.selectionPanel {
  background-color: green;
  @include tablet {
  }
}
.selectionOptions {
  &__item {
    display: flex;
  }
}

// Radio button styling
