.nav {
  padding: 1rem;
  background-color: #fff;
  display: flex;
  align-items: center;
  height: 10vh;
  &__box {
    display: flex;
    &--menu {
      width: 70vw;
      justify-content: center;
    }
    &--logo {
      width: 30vw;
      justify-content: flex-end;
    }
  }
  &__menu {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
  }
  &__item {
    padding: 0 1rem;
  }
  &__link {
    text-decoration: none;
  }
  &__logo {
  }
}
